@import url("css/layout.css");
@import url("css/headings.css");

#header button {
	position:absolute;
	margin:0px;
}

#navButton {
	/* override the position inherited from mblToolBarButton which is relative */
	position:absolute;
	width:60px;
}

#loadDiv {
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:999;
}
#loadDiv {
	display:table;
	font-size:20px;
	text-align:center;
	background-color:#ccc;
	color:#333;
}
#loadDiv span {
	display:table-cell;
	vertical-align:middle;
}

@media screen and (max-width: 600px) {
	#jsContent, #htmlContent {
		font-size:14px;
	}
}

#welcome {
	background: url("android_awesome.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: black;
}